@charset "UTF-8";

body{

    
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 600;
  

}


    /* ------ HEADER/NAV AND FOOTER ------  */

header{
    display: flex;
    justify-content: center;
    background-color: #fff300;
    padding: 0.25rem 0.5rem;
   
 
   
   
}

header #logo{

    display: flex;
    
    margin-right: 200px;
    width: 10%;
    max-width: 100%;
    height: auto;

    
 

}




nav {
    display: flex;
    justify-content: center;
    align-self: center;

    
  }
  
  nav > a {
    color: #1b1e22;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
  }
  
  nav > a:hover {
    background-color: #FFF764;
  }

 footer{

    display: flex;
    background-color: #fff300;
    padding: 0.25rem 0.5rem;
   height:20px;
   
    margin-top: 150px;

 }

     /* ------ ARTICLES ------  */

    
h3#articleDate {

    font-size: 10px;
    color:grey;
    margin-top:0px;
}

h2#articleTitle {

    text-transform: uppercase;
    font-size: 20px;
    color:black;
    font-weight: 100;
    margin-top:5px;
        
}

section{

    margin: 0 auto;
    max-width: 800px;
 
  
}

article > img{

    
    height:150px;


}

section.clanak > img{
    margin-top: 25px;
    max-width:800px;
}

div > span{

    color:red;
    font-weight: 100;
}



 h2 > a {
    color: #1b1e22;
    text-decoration: none;
    font-size:18px;
    font-weight: 700;

  }
  
 h2 > a:hover {
   
    text-decoration: underline;
    text-decoration-color: yellow;

  }


  section#música > div.flex-container-line > h1{

    background-color: #F263A3;
    color:white;
    padding:5px;
    max-width:fit-content;
    
}

section#música >  div.flex-container-line > div.line{

    background-color:#F263A3;
    width:100%;
    height:10px;

}

section#deportes >  div.flex-container-line  > div.line{

    background-color:#44C846;
    width:100%;
    height:10px;

}

section#deportes > div.flex-container-line > h1{

    background-color: #44C846;
    color:white;
    padding:7px;
    max-width:fit-content;
}

.flex-container-line{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.flex-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

article{

    display:flex;
    flex-direction: column;
    width: 33%;
     word-wrap: break-word;
    

}


 /* ------ FORMA ------  */

 form{

    max-width: 200px;
    display:flex;
    flex-direction: column;
    margin: 50px auto;
 
 }



.form-item{

    margin: 10px;
   

}

.form-field > img{

    margin: 10px;
    width:60%;

}

section.clanak > article{

   width: 100%;

}



section.clanak > h1{

    text-transform: uppercase;


}

section.clanak > h2 {

  
    font-size: 10px;
        color:grey;
    
}


article.content{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

article.about{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.clanak > img {

    margin-top: 25px;

}

p.link a {
    text-decoration: none;
    color:#1b1e22;
}

p.link a:hover {
    text-decoration: none;
    color:#dbf800;
}



@media only screen and (max-width: 768px) {
    header #logo{
    margin:0;
    width: 15%;}

    nav{
        flex-direction: column;
        align-items: center;
    }

    header{
        flex-direction: column;
        align-items: center;
    }

    .flex-container{

        flex-direction: column;
        align-items: center;

    }

    article{
        width:100%;
    }

    article > img{

    
        height:300px;
    
    
    }

}




